<h1>This gets rate</h1>

<a href="/">Back to home page!</a>
<form action="/rateDisplay/" method="post">
    <div class="form-group">
        <h3>Where is this coming from?</h3>
        <p>
            <label>Name:
                <input type="text" name="to_name" value="">
            </label>
        </p>
        <p>
            <label>Street 1:
                <input type="text" name="to_street1" value="">
            </label>
        </p>
        <p>
            <label>Street 2:
                <input type="text" name="to_street2" value="">
            </label>
        </p>
        <p>
            <label>City:
                <input type="text" name="to_city" value="">
            </label>
        </p>
        <p>
            <label>State:
                <input type="text" name="to_state" value="">
            </label>
        </p>
        <p>
            <label>Zip:
                <input type="text" name="to_zip" value="">
            </label>
        </p>
        <p>
            <label>Phone:
                <input type="text" name="to_phone" value="">
            </label>
        </p>
        <h3>Where will this be sent?</h3>
        <p>
            <label>Name:
                <input type="text" name="from_name" value="">
            </label>
        </p>
        <p>
            <label>Street 1:
                <input type="text" name="from_street1" value="">
            </label>
        </p>
        <p>
            <label>Street 2:
                <input type="text" name="from_street2" value="">
            </label>
        </p>
        <p>
            <label>City:
                <input type="text" name="from_city" value="">
            </label>
        </p>
        <p>
            <label>Phone:
                <input type="text" name="from_state" value="">
            </label>x
        </p>
        <p>
            <label>Zip:
                <input type="text" name="from_zip" value="">
            </label>
        </p>
        <p>
            <label>Phone:
                <input type="text" name="from_phone" value="">
            </label>
        </p>
        <h3>Weight</h3>
        <p>
            <label>
                <input type="number" name="weight" value="1.00">
            </label>Weight
        </p>
        <h3>Parcel Type</h3>
        <p>
            <label>
                <input type="radio" name="parcelType" value="Letters_Stamped">
            </label>Letters (Stamped)
        </p>
        <p>
            <label>
                <input type="radio" name="parcelType" value="Letters_Metered">
            </label>Letters (Metered)
        </p>
        <p>
            <label>
                <input type="radio" name="parcelType" value="Large_Envelopes_Flats">
            </label>Large Envelopes (Flats)
        </p>
        <p>
            <label>
                <input type="radio" name="parcelType" value="First-Class_Package_Service_Retail">
            </label>First-Class Package Service - Retail
        </p>
    </div>
    <button type="submit" class="btn btn-primary">Get Shipping Rate!</button>
</form>