<h1>This gets rate</h1>

<a href="/">Back to home page!</a>
<form action="/rateDisplay/" method="post">
    <div class="form-group">
        <h3>Weight</h3>
        <p>
            <label>
                <input type="number" name="weight" value="1.00">
            </label>Weight
        </p>
        <h3>Parcel Type</h3>
        <p>
            <label>
                <input type="radio" name="parcelType" value="Letters_Stamped">
            </label>Letters (Stamped)
        </p>
        <p>
            <label>
                <input type="radio" name="parcelType" value="Letters_Metered">
            </label>Letters (Metered)
        </p>
        <p>
            <label>
                <input type="radio" name="parcelType" value="Large_Envelopes_Flats">
            </label>Large Envelopes (Flats)
        </p>
        <p>
            <label>
                <input type="radio" name="parcelType" value="First-Class_Package_Service_Retail">
            </label>First-Class Package Service - Retail
        </p>
    </div>
    <button type="submit" class="btn btn-primary">Get Shipping Rate!</button>
</form>